.bloques{

    position: relative;
    margin-top: 10px;

}

.infPrincipal{
    background:  #0000ff;
    color: white;
}

.infDetallada{
    position: absolute;
    top: 10px;
    left: 85px;
    width: inherit;
    background: #00a0a0;
    color: white;
}

.infVariada{
    background: #ffc0c0;
    color: white;
}

