.card{
    background: rgba(43,113,151,0.7);
    border-radius: 15px;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

    width: 1000px;
    height: 250px;

}

.cuerpo{
    padding: 10px;
}

.list-group-item{
    background: rgba(43,113,151,0.7);
    color: white;
}

.image{
    width: 250px;
    height: 250px;
}

.image img{
    width: 250px;
    height: 250px;
}

.informacionInfra{
    padding: 20px;
}
